.cards{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 16px;

}
.card {
	background-color: white;
	padding: 24px;
	border-radius: 6px;
	box-shadow: 1px 1px 1px 1px;
	text-align: center;

}
.card img{
	height: 250px;
	width:250px;
	object-fit: cover;
}


