#banner {
	height: 75vh;
	background-image: url("../images/Italie.jpg");
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	color: white;
	text-shadow: 1px white;
}





